

<!DOCTYPE HTML>
<!--
	Minimaxing 1.0 by nodethirtythree + FCT
	Released under the Creative Commons Attribution 3.0 license (nodethirtythree.com/license)
-->
<html>
	<head>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--5grid--><script src="~/Content/5grid/viewport.js"></script><!--[if lt IE 9]><script src="~/Content/5grid/ie.js"></script><![endif]--><link rel="stylesheet" href="~/Content/5grid/core.css" />
		<link rel="stylesheet" href="~/Content/style-1.css" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

		<!--[if IE 9]><link rel="stylesheet" href="~/Content/style-ie9.css" /><![endif]-->
	</head>
	<body>
	<!-- ********************************************************* -->
		<div id="header-wrapper">
			<div class="5grid">
				<div class="12u-first">
					
					<header id="header">
						<h1><a href="#">Global Village</a></h1>
					</header>
				
				</div>
			</div>
		</div>
	<div id="banner-wrapper">
			<div class="5grid">
				<div class="12u-first">
					
					<div id="banner">
						<h2>Welcome to Global Village!</h2>
						<span>This is a friendship site! Enjoy free chatting and make New Friends. . . </span>
					</div>
				
				</div>
			</div>
	</div>


        @Scripts.Render("~/bundles/jquery")

		<div id="footer-wrapper">
			<div class="5grid">
				<div class="8u-first">
					
				
				</div>
				<div class="4u">


				</div>
				<div class="12u-first">

					<div id="copyright">
						&copy; 2014 Global Village website. Designed by M.Sheraz LEO
					</div>

				</div>
			</div>
		</div>

	<!-- ********************************************************* -->
	</body>
</html>
 